# Process
numpy>=1.20.1
pandas>=1.2.3

##################################################################################################

# Package utils
twine>=3.3.0

# Code-style
autopep8>=1.5.5
bandit>=1.7.0
flake8>=3.8.4
pyflakes>=2.2.0
pylint>=2.7.2
pylint-fail-under>=0.3.0

# Test
pytest>=6.2.2

# Typing
mypy>=0.812